transformers==4.31.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
bitsandbytes==0.41.0; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.0-py3-none-win_amd64.whl; platform_system == "Windows"